#h1 {
  color: brown;
  margin: auto;
}

.img {
  border: solid 15px blue;
  margin: auto;
  display: block;
}

#btn {
  margin: auto;
  padding: 1px 2px 1px 2px;
}

.img2 {
  border: solid 15px green;
}
